// color rgb(a)
$red = #E60012 // rgba(230, 0, 18, 1)
$black = #231815 // rgba(35, 24, 21, 1)
$blackTransparent = rgba(35, 24, 21, .5)
$white = #FFF // rgba(242, 242, 244, 1)
$whiteTransparent = rgba(255, 255, 255, .5)
$whiteTransparent2 = rgba(255, 255, 255, .15)
$pink = #FFAAAA
// ui
$text = $black
$textMuted = $blackTransparent
$textContrast = $white
$textContrastMuted = $whiteTransparent

$border = $gray-lighter

$primary = $red
$secondary = $pink

// z-index
$zindex-header = 1000
